.elcapitan-preview.page-overview .section-hero .hero-subhead {
    padding-left: 30px;
}
@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .elcapitan-preview.page-overview .section-hero .hero-subhead {
        padding-left: 0px;
    }
}
.elcapitan-preview.page-overview .violator-compact {  
	font-size: 15px;
	padding-top:4px;
	padding-left:8px;
	padding-right:8px;
	line-height:20px;
}
@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .elcapitan-preview.page-overview .violator-compact {
        font-size: 13px;
        padding:0 11px;
		line-height:22px;
    }
}
.elcapitan-preview.page-overview .sosumi small {  
	font-size:11px
}